<div id='login_form'>
  <form action='/users' method='post' itemprop='user[action]'>
    <input type='email' name='user[email]' class='descriptive_field' value='enter your email'/><br/>
    <input id='dummy_password_field' class='dummy_password_field descriptive_field' type='text' value='password'/>
    <input id='password_field' class='descriptive_field' type='password' name='user[password]'/><br/>
    <input id='dummy_password_confirmation_field' class='dummy_password_field descriptive_field' type='text' value='repeat password'/>    
    <input id='password_confirmation_field' class='descriptive_field' type='password' name='user[password_confirmation]'/><br/>
    <input type='submit' value='Log In'/>
  </form>
</div>
